{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>

    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            <img class="align-self-start mt-2" src="{{ program.poster }}">
            <a href="{{ path('wild_show_program',{'slug':program.slug}) }}">Saison de {{ program.title }}</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        <u><strong>Retour à l'accueil</strong></u>
    </a>
{% endblock %}

